option_settings:
  aws:elasticbeanstalk:application:environment:
    SERVER_PORT: 5000
    DB_URL: jdbc:postgresql://petcare-db.ccteeoyow1ii.us-east-1.rds.amazonaws.com:5432/petcare?sslmode=require
    DB_USERNAME: petcareadmin
    DB_PASSWORD: PetCare123!
    JPA_DDL_AUTO: update
    JWT_SECRET: UGV0Q2FyZS1EZXZlbG9wbWVudC1KMFQtU2VjcmV0LTIwMjYtU3VwZXItU2VndXJhLUNhbWJpYXJFbkVudg==
    MAIL_HOST: smtp.gmail.com
    MAIL_PORT: "587"
    MAIL_USERNAME: tcovenas456@gmail.com
    MAIL_PASSWORD: xufv oldj fpqx hlzp
    MAIL_STARTTLS: "true"
    MAIL_ENABLED: "true"
    FRONTEND_URL: ""
